# dependencies
/next/node_modules
/next/.pnp
/next/.pnp.js

# testing
/next/coverage

# next.js
/next/.next/
/next/out/

# production
/next/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

/next/package-lock.json
